[Desktop Entry]
Name=J2SC
GenericName=J2SC
Comment=JACK2 Simple Configurator
Exec=j2sc
Icon=j2sc
Terminal=false
Type=Application
Categories=AudioVideo;AudioEditing;Qt;
X-Ayatana-Desktop-Shortcuts=JackSettings;Logs;

[Logs Shortcut Group]
Name=JACK2 Logs
Exec=j2sc-logs
TargetEnvironment=Unity

[Settings Shortcut Group]
Name=JACK2 Settings
Exec=j2sc-settings
TargetEnvironment=Unity
