[Desktop Entry]
Name=J2SC
GenericName=JACK2 Simple Configurator
Comment=Simple Configuration Panel for JACK2
Exec=j2sc
Icon=j2sc
Terminal=false
Type=Application
Categories=AudioVideo;X-AudioEditing;Qt;
Version=1.0
X-Ayatana-Desktop-Shortcuts=Logs;Settings;

[Logs Shortcut Group]
Name=J2SC Logs
Exec=j2sc-logs
TargetEnvironment=Unity

[Settings Shortcut Group]
Name=J2SC Settings
Exec=j2sc-settings
TargetEnvironment=Unity
